<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Credits</title>
</head>
<body>
<p>Bienvenido al quiz de <%= title %></p>
<img src="http://en.bcdn.biz/Images/2016/8/17/bcba14bd-d78f-4b66-812b-efaf36edb319.jpg">
</body>
</html>